.dash-geral .cabecalhos h1 {
    position: relative;
    font-size: 48px;
    background-image: linear-gradient(to right, #7E5C39, #8E6B47, #A78C73, #8E6B47, #7E5C39);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.dash-geral .cabecalhos h1::after {
    position: absolute;
    content: "Estágio:";
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #c59d67, #5a3e25);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.9));
    z-index: 1;
}

.dash-geral .cabecalhos h2 {
    position: relative;
    font-size: 36px;
    background-image: linear-gradient(to right, #7E5C39, #8E6B47, #A78C73, #8E6B47, #7E5C39);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.dash-geral .cabecalhos h2::before {
    position: absolute;
    content: "Sequência:";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dash-geral .cabecalhos h2::after {
    position: absolute;
    content: "Sequência:";
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, #c59d67, #5a3e25);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.9));
    z-index: 1;
}
