* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}


#app {
    display: flex;
    width: 100%;
    height: 100%;
}

.app-geral{
    background-color: #0d0d0d;
}

.app-jornada{
    background: linear-gradient(to bottom, #53b8e7, #0048a7);
}

.app-eclipse {
    background: linear-gradient(to bottom, #4d1427, #180109);
}

.app-espada {
    background: linear-gradient(to bottom, #ffffff, #0a0a0a);
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    height: 100vh;
    padding: 20px 10px;
    border-radius: 0 24px 24px 0;
    background-color: #3C3834;
    background-image: url('../assets/pages/forca/Couro-Texture.png');
    background-size: 100% 100%;
    background-position: center;
    color: #FCFCFC;
}

.div-button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.metal-button {
    padding: 20px 10px;
    font-size: 16px;
    cursor: pointer;
    min-width: 260px;
    min-height: 60px;
    background: transparent;
    background-image: url('../assets/pages/forca/button-moldure.png');
    background-size: 100% 100%;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    color: #FCFCFC;
    font-weight: bold;
}

.div-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
    width: 90%;
    margin-bottom: 20px;
    background-image: url('../assets/pages/forca/Pedra-moldura.png');
    background-size: 100% 100%;
}

.foto-frame {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.45) 1.95px 1.95px 2.6px;
}

.foto-frame::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: url('../assets/borders/Bronze-Moldure.png') center/cover no-repeat;
  pointer-events: none;
  z-index: 1;
}

.div-perfil .foto-perfil {
    border-radius: 50%;
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.div-perfil button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 5px;
    color: #FCFCFC;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.div-perfil button:hover {
    background-color: #1c1c1c1c;
    color: #AD9D8A;
}

.div-perfil button:active {
    transform: translateY(2px);
    color: #AD9D8A;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}

.metal-button.active {
    background-image: url('../assets/pages/forca/button-active.png');
    background-size: 100% 100%;
    color: #AD9D8A;
}

#content {
    width: 85vw;
    height: 100vh;
}

.dash-geral {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url('../assets/pages/forca/Forca-Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.dash-jornada {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url('../assets/pages/jornada/one-piece-sea.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.dash-eclipse {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url('../assets/pages/eclipse/eclipse-berserk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.dash-espada {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url('../assets/pages/espada/vagabong-wpp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.conteudo-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cabecalhos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    font-weight: bold;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cima {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    height: 50%;
    align-items: center;
}

.baixo {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 50%;
    justify-content: center;
}

.container-mensagem {
    background-image: url('../assets/pages/forca/Message-modal.png');
    background-position: center;
    background-size: 100% 100%;
    min-width: 300px;
    max-width: 600px;
    min-height: 150px;
    padding: 40px;
}

.titulo-mensagem {
    font-size: 24px;
    color: goldenrod;
    text-align: center;
}

.corpo-mensagem {
    font-size: 20px;
    color: #E5E5E5;
    text-align: center;
    margin-top: 20px;
}

.corpo-mensagem-destaque {
    font-size: 20px;
    color: rgb(192, 146, 30);
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.corpo-mensagem-destaque-red {
    font-size: 20px;
    color: #dd0836;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65%;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 35%;
}

.direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}