/* .dash-jornada .baixo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.dash-jornada .cabecalhos h1 {
    position: relative;
    font-size: 48px;
    background-image: linear-gradient(to right, #7E5C39, #8E6B47, #A78C73, #8E6B47, #7E5C39);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.dash-jornada .cabecalhos h1::after {
    position: absolute;
    content: "Em busca do One Piece";
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #c59d67, #5a3e25);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.9));
    z-index: 1;
}

.dash-jornada .baixo-content-jornada {
    display: flex;
    flex-direction: column;
    padding-bottom: 15vh;
    gap: 30px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.dash-jornada .berserk-button {
    width: 100px;
    height: 100px;
    background-image: url('../assets/pages/forca/Berserk_Moldure.png');
    background-position: center;
    background-size: 100% 100%;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
}

.dash-jornada .berserk-button:hover {
    transform: scale(1.03);
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
}

.dash-jornada .berserk-button:active {
    transform: scale(0.97);
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
}

.dash-jornada .comecar-label span{
    position: relative;
    background-image: linear-gradient(to right, #7E5C39, #8E6B47, #A78C73, #8E6B47, #7E5C39);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.7));
    -webkit-filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.7));
}

/* .dash-jornada .comecar-label span::after {
    position: absolute;
    content: "Tenho um motivo para seguir";
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #c59d67, #5a3e25);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
    z-index: 1;
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
} */


.dash-jornada .comecar-label{
    position: relative;
    background-color: #0d0d0d50;
    backdrop-filter: blur(15px);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 10px 20px;
    margin: 10px;
    border: 8px solid transparent;
    border-image: url('../assets/borders/Stone-Border.png') 30 round;
}

